html, body {
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}
.backgroun {
    background: #b7ebf7;
    margin: 0;
    padding: 0;
}

.tit{
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
.centro{
    text-align: center;
    
}
.subindices{
    text-align: right;
    font-size:large;
    margin-right: 4%;

}
.contenedor{
    display: flex; 
    padding: 20px;
    
}
.cuadro{
     background-color: #b7ebf7;
     width: 25%; 
     text-align: center;
     margin:1%;
}
.cuadro img{
    width: 100%;
}