html, body {
            margin: 0;
        }
.backgroun {
    background: #b7ebf7;
    margin: 0;
    padding: 0;
}

.tit{
    color: white;
    text-decoration: none;
    }
.centro{
    text-align: center;
}
.subindices{
    text-align: right;
    font-size: medium;
    margin-right: 4%;

}
